
body{

    --primary-heading-color:#25292c;
    --primary-brand-color:#e84118;

    --dark-text-color:#121416;
    --light-text-color:rgb(206, 201, 201);

    --light-bg-color:rgb(255, 255, 255);
    --dark-bg-color:rgb(0, 0, 0);

    --section-bg-color:#4bcffa;
    
    --header-bg-color: radial-gradient(#d4d9db, #d5dade);
    --header-effect-color: #cdcdcd;
    --body-color:#fff;
}
body{
    /* background-color: var(--light-bg-color); */
}
.dark-mood{
    --primary-heading-color:#b1bdcc;
    --dark-text-color:#fff;
    --light-text-color:#111;
    --light-bg-color:#111;
    --dark-bg-color:#fff;
    --section-bg-color:#485460;
    --header-bg-color: radial-gradient(#0a1013, #222e38);

}
.red-color{
    --primary-brand-color:#fb0000;
}
.green-color{
    --primary-brand-color:#008000;
}
.blue-color{
    --primary-brand-color:#010ca3;
}
.yellow-color{
    --primary-brand-color:#FFFF2E;
}
.pink-color{
    --primary-brand-color:#FFC0CB;
}
.purple-color{
    --primary-brand-color:#800080;
}
