
body{
    --primary-heading-color:#111;
    --secondary-heading-color:#ff6347;

    --dark-text-color:#111;
    --light-text-color:#fff;

    --light-bg-color:#fff;
    --dark-bg-color:#111;

    --primary-brand-color:#ff6347;
    --second-brand-color:#f57c67;
    --header-bg-color: radial-gradient(#d4d9db, #d5dade);
    --header-effect-color: #cdcdcd;
    

}