@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.body{
    position: relative;
}




:root{
    --wrapper-width:1320px;
    --header-font:'Poppins', sans-serif;
    --content-text: 'Lato', sans-serif;
}


.wrapper{
    max-width: 100%;
    width: var(--wrapper-width);
    margin: 0px auto;
}
h1, h2 ,h3, h4, h5{
    font-family:var(--header-font);
    color: black;
}
p, a, div{
    font-family: var(--content-text);
}
.title{
    font-size: 3.5rem;
    line-height:4rem;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: var(--primary-heading-color);
    font-weight: 800;

}
 .text{
    font-size: 1.05rem;
    line-height: 1.8rem;
    font-family: var(--content-text);
    color: var(--dark-text-color);
 }

.flex-box{
    --flex-gap:2rem;
    display: flex;
    margin-left: calc(var(--flex-gap) / -2);
    margin-right: calc(var(--flex-gap) / -2);
}
.flex-box >*{
    padding-left: calc(var(--flex-gap) / 2);
    padding-right: calc(var(--flex-gap) / 2);
}
.half-box{
    flex: 0, 0 ,50%;
    width: 50%;
}
.primary-btn{
    display: inline-block;
    padding: .8rem 1.8rem;
    background-color: var(--primary-brand-color);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--dark-text-color);
    border-radius: .7rem;
    margin-top: 2.2rem;
    text-transform: capitalize;
    transition: all 300ms ease;
}
.primary-btn:hover{
    box-shadow: 10px 0px 20px rgba(0, 0, 0, .2);
}
img{
    width: 100%;
    border-radius: 10px;
}
.mark-text{
    color: var(--primary-brand-color)
}

#icon{
    position:fixed;
    width: 30px;
    top: 150px;
    right: 0px;
    z-index: 1000;
    cursor: pointer;
}
.color-changer{
    position: fixed;
    top: 200px;
    right: 0px;
    width: 30px;
    height: 145px;
    background: transparent;
    z-index: 500;
    border-radius: 3px;
}
.color{
    width:18px;
    height: 18px;
    border-radius: 50%;
    margin: 8px auto;
    cursor: pointer;
}
.red{
    background-color: #f53b75;
}
.green{
    background-color: #0be881;
}
.blue{
    background-color: #3867d6;
}
.yellow{
    background-color: #fffab5;
}
.pink{
    background-color: #fc427b;
}
.purple{
    background-color: #6f1e51;
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 1399.98px) {
    :root{
        --wrapper-width:1140px;
    }
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 1199.98px) {
    :root{
        --wrapper-width:960px;
    }
}
/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    :root{
        --wrapper-width:720px;
    }
}
/* // Large devices (desktops, less than 1200px) */
@media (max-width: 767.98px) {
    :root{
        --wrapper-width:540px;
    }
}
/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 575.98px) {
    :root{
        --wrapper-width:100%;
    }
    #icon{
        width: 25px;
    }
}

/* // XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */