@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url(./global-style.css);
@import url(./color-variable.css);


.nav-bar{
    padding: 20px 0px;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, .03);
    /* background: transparent; */
    /* background-color: cadetblue; */
    position: fixed;
    width: 100%;
    z-index: 100;

}
.nav{
    justify-content: space-between;
    align-items: center;
    position: relative;
   
}
.brand-logo{
    color: var(--dark-text-color);
    font-size: 2.2rem;
    font-weight: 600;
    text-decoration: none;
    padding-left: 0px;
 

}
.menu-item{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}
.list-item{
    padding: 0px 10px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    display: block;
    font-size:1.2rem;
    color:var(--dark-text-color);
    text-transform: capitalize;
    transition: all 300ms ease;
    position: relative;


}
.nav-link::before{
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary-brand-color);
    transform: scaleX(0);
    transition: all 300ms ease;

}
.nav-link:hover{
    color: var(--primary-brand-color);
}
.nav-link:hover::before{
    transform: scaleX(1);

}
.menu-icon{
    display: flex;

}
.icon-list{
    list-style: none;
    margin-left: .6rem;
    margin-right: .6rem;
}
.icon{
    display: block;
    color:var(--light-text-color);
    font-size: 1.2rem;
    line-height: 2rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color:var(--primary-brand-color);
    text-align: center;
    transition: all 300ms ease;
}
.icon:hover{
    color: var(--primary-brand-color);
    background-color: var(--light-text-color);
}

.icon i {
    line-height: 2rem;
}
/* toggle bar */
.toggle{
    width: 2rem;
    height: 2.2rem;
    border: 1.5px solid var(--dark-bg-color);
    align-items: center;
    justify-content: center;
    display: none;
    border-radius: 5px; 
}

.close {
    font-size: 2rem  
}
.open{
   transform: rotate(45deg); 
   font-size: 2rem;
   display: none;
}
/* header section style */
.header-section{
    min-height: 100vh;
    background: var(--header-bg-color);
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    position: relative;
    overflow: hidden;
}
.header-section::before{
    content: 'MR';
    top: 0;
    right: 0;
    color: var(--dark-bg-color);
    font-size: 40rem;
    line-height: 417px;
    font-family: var(--header-font);
    position: absolute;
    letter-spacing: -3.2rem;
    opacity: .08;

}
.hero-header{
    align-items: center;

}
.header-img{
    height: calc(100vh - 100px);
    object-fit: cover;
    width: 90%;
    object-position: center;
}

.header-content{
    position: relative;
    z-index: 90;
    padding-left: 4rem;

}
.header-title{
    font-size: 3rem;
    line-height:3.5rem;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: var(--primary-heading-color);
    font-weight: 600;

}
.header-text{
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: var(--content-text);
}



@media (max-width: 991.98px) {
    .wrapper{
        padding: 0px 25px;
        overflow: hidden;
    }
    .flex-box{
        flex-wrap: wrap;
    }
    .nav-bar{
        height: auto;
       
    }
    .menu-item{
        width: 100%;
        top: 0;
        left: 0;
        position: relative;
        transform: none;
        display:none;
        text-align: center;  
        background-color: #fff;
    }
    .list-item{
        padding: 10px 0px;
    }
    .menu-icon{
        width: 100%;
        padding-top: 20px;
        display: none;
        background-color: #fff;
        padding-bottom: 30px;
    }
    .toggle{
        display: flex;
    }
    #checkbox:checked ~ .menu-item{
        display: block;
    }
    #checkbox:checked ~ .menu-icon{
        display: flex;
        justify-content: center;
    }
    #checkbox:checked ~ .toggle .open{
       display: block; 
    }
    #checkbox:checked ~ .toggle .close{
        display:none;  
     }
     

}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 1399.98px) {
    .hero-header{
        margin-top: 7rem;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 1199.98px) {
    .header-title {
        font-size: 3rem;
        /* margin-top: 6rem; */
    }
    .header-img{
        object-position: center;
        min-height: 80vh;
    }
   
   

}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .header-section::before {
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    
    }
    .hero-header {
        flex-direction: column-reverse;
    }
    
    .half-box {
        width: 100%;
        text-align: center;
    }
    .header-content {
        padding: 0;
        /* margin-top: 5rem; */
    }
    .header-img{
        object-fit:contain;
        width: 100%;
        object-position: center;
        min-height: 150vh;
    }
   


}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 767.98px) {
    .header-title {
       font-size: 3rem;

    }
    .header-section::before {
        font-size: 30rem;
    }
    .header-img{
        object-fit:cover;
        width: 100%;
        object-position: center;
        min-height: 100vh;
    }
   

}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 575.98px) {
    .header-title {
        font-size: 2rem;
        line-height: 3rem;
    }
   
}

/* // XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */