@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url(./global-style.css);
@import url(./color-variable.css);
.nav-bar{
    padding: 20px 0px;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, .03);
    position: fixed;
    width: 100%;
    z-index: 100;
    /* background-color: var(--dark-bg-color); */
}
.nav{
    justify-content: space-between;
    align-items: center;
    position: relative; 
}
.brand-logo{
    color: var(--primary-brand-color);
    font-size: 2.2rem;
    font-weight: 600;
    text-decoration: none;
    padding-left: 0px;
}
.menu-item{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.list-item{
    padding: 0px 10px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    display: block;
    font-size:1.2rem;
    color:var(--dark-text-color);
    text-transform: capitalize;
    transition: all 300ms ease;
    position: relative;
}
.nav-link::before{
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary-brand-color);
    transform: scaleX(0);
    transition: all 300ms ease;
}
.nav-link:hover{
    color: var(--primary-brand-color);
}
.nav-link:hover::before{
    transform: scaleX(1);
}
.menu-icon{
    display: flex;
}
.icon-list{
    list-style: none;
    margin-left: .6rem;
    margin-right: .6rem;
}
.icon{
    display: block;
   color: #fff;
    font-size: 1.2rem;
    line-height: 2rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color:var(--primary-brand-color);
    text-align: center;
    transition: all 300ms ease;
}
.icon:hover{
    color: var(--primary-brand-color);
   background-color: #fff;
}
.icon i {
    line-height: 2rem;
}
/* toggle bar */
.toggle{
    width: 2rem;
    height: 2.2rem;
    border: 1.5px solid var(--dark-bg-color);
    align-items: center;
    justify-content: center;
    display: none;
    border-radius: 5px; 
}
.close {
    color: var(--dark-text-color);
    font-size: 2rem  
}
.open{
   transform: rotate(45deg); 
   font-size: 2rem;
   color:var(--dark-text-color);
   display: none;
}
/* header section style */
.header-section{
    min-height: 100vh;
    background: var(--light-bg-color);
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    position: relative;
    overflow: hidden;
}
.header-section::before{
    content: 'MR';
    top: 0;
    right: 0;
    color: var(--dark-bg-color);
    font-size: 40rem;
    line-height: 417px;
    font-family: var(--header-font);
    position: absolute;
    letter-spacing: -3.2rem;
    opacity: .08;
}
.hero-header{
    align-items: center;
}
.header-img{
    height: calc(100vh - 100px);
    object-fit: cover;
    width: 90%;
    object-position:top;
}
.header-content{
    position: relative;
    z-index: 90;
    padding-left: 4rem;
}
.header-text{
    font-size: 1.2rem;
    line-height: 1.9rem;
}
/* baout section  */
.about-section{
    align-items: center;  
}
.about{
    padding: 100px 0px;
    background-color: var(--light-bg-color);
}
.about-content{
    margin-left: 120px;
    background-color: var(--light-bg-color);
}
.about-title{
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.img-box{
    position: relative;
}
.img-2{
    position: absolute;
    width: 220px;
    height: auto;
    bottom: -50px;
    right: -50px;
    display: flex;
}
.about-btn{
    font-size: 1rem;
    background: transparent;
    color: var(--dark-text-color);
    border: 1px solid var(--primary-brand-color);
    font-weight: 400;
}
/* service section style */
.service-section{
    /* text-align: center; */
    background-color: var(--section-bg-color);
    padding: 60px 0px;
}
.service-title{
    color: var(--primary-heading-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 3rem;
}
.service-text{
    text-align: center;
    color: var(--dark-text-color);
    margin-bottom: 20px;
}
.service{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 3px;
}
.grid-item{
    display: flex;
    padding-top: 30px;
}
.grid-text{
    padding-left: 20px;
}
.grid-title{
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--dark-text-color);
    margin-bottom: 10px;
    font-weight: 600;
}
.grid-sub-title {
    color: var(--dark-text-color);
    font-size:1rem;
    line-height: 1.5rem;
}
.gi{
    font-size: 35px;
    width: 75px;
    height: 75px;
    border: 1px solid var(--primary-brand-color);
    line-height: 75px;
    text-align: center;
    border-radius: 50%;
    color: var(--primary-brand-color);
}
/* freelance style  */
.freelance{
    background-color: var(--light-bg-color);
}
.freelance-content{
    text-align: center;
    padding: 80px 0px;
}
.freelance-title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
}
.freelance-btn{
    margin-top: 10px;
    font-size: 1.2rem;
    color:#fff;
}
/* testimonial style start */
.testimonial-section{
    width: 100%;
    height: 600px;
    background-color: var(--section-bg-color);
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
    padding-top: 20px;
}
.testimonial-title{
    text-align: center;
    color: var(--primary-heading-color);
    font-size: 3rem;
    line-height: 4rem;
}
.testimonial-text{
    text-align: center;
    color: var(--dark-text-color);
    margin-bottom: 40px;
}
/* portfolio style start */
.slider{
    text-align: center;
}
.slide-img{
    width: 100px;
    height: 100px;  
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
}
.img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.slider-text{
    color: var(--dark-text-color);
    margin-bottom: 50px;
}
.name{
    margin-top: 30px;
    color: var(--dark-text-color);
}
/* portfolio style start  */
.portfolio-section{
    padding: 50px 0px;
    background-color:var(--light-bg-color);
}
.portfolio-content{
    text-align: center;
}
.portfolio-title{
    margin-bottom:0px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--primary-heading-color);
}
.portfolio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.portfolio-sub-title{
    margin-bottom: 0px;
    font-size: 3rem;
    color: var(--primary-heading-color);
}
.port-link{
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .5s ease;
    font-size: .8rem;
}
.port-link:hover{
    background-color:var(--primary-brand-color);
    color: var(--light-text-color);
}
.img-grid{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 5px;
}
.grid-img-box{
    position: relative;
}
.grid-img{
    width:100%;
    border-radius: 0;
}
.grid-overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255,255, .7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all 300ms ease;
}
.over-write{
    font-size: 1rem;
    color: #111;
}
.grid-img-box:hover .grid-overlay{
    transform: scale(1);
}
/* blog section style */
.blog-section{
    padding: 60px 0px;
    background-color:var(--section-bg-color);
}
.blog-title{
    text-align: center;
    color: var(--dark-text-color);
}
.blog-text{
    text-align: center;
    color: var(--dark-text-color);
}
.blog-card-block{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 20px;
}
.img-box{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.blog-img{
    border-radius: 0;
    width: 100%;
}
.time-name{
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translate(-50%);
    background-color:var(--primary-brand-color);
    width: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1rem;
    padding: 3px 8px;
    color: var(--dark-text-color);
}
/* contact section */
.contact-section{
    padding: 70px 0px;
    background-color: var(--light-bg-color);
}
.contact-title{
    text-align: center;
}
.contact-text{
    text-align: center;
    margin-bottom: 25px;
    color: var(--dark-text-color);
}
.contact{
    text-align: center;
}
.contact-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}
input{
    width: 100%;
    outline: none;
    padding: 10px 5px;
    margin-bottom: 25px;
    font-size: 1.2rem;
    border: none;
    border: 1px solid var(--primary-brand-color);
    border-radius: 4px;
}
input:last-child{
    margin-bottom: 0px;
}
#message{
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-brand-color);
    padding: 15px 10px;
    outline: none;
    font-size: 1.3rem;
}
.contact-btn{
    font-size: 1.2rem;
    color: var(--dark-text-color);
    display: inline-block;
    margin: 30px auto;
}
.contact-title{
    font-size: 2rem;
    line-height: 2.5rem;
}
.address-grid{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 20px;
    padding: 25px 0px;
}
.contact-icon{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--primary-brand-color);
}
/* footer */
footer{
    background-color: #82589F;
    padding: 15px 0px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 40px 0px; */
    flex-wrap: wrap;   
}
.footer-title{
    color: var(--light-text-color);
}
.footer-icon, .footer-title{
}
.footer-icon{
    margin-bottom: 10px;
}
@media (max-width: 991.98px) {
    .wrapper{
        padding: 0px 25px;
        overflow: hidden;
    }
    .flex-box{
        flex-wrap: wrap;
    }
    .nav-bar{
        height: auto;  
    }
    .menu-item{
        width: 100%;
        top: 0;
        left: 0;
        position: relative;
        transform: none;
        display:none;
        text-align: center;  
        background-color:var(--light-bg-color);
    }
    .list-item{
        padding: 10px 0px;
    }
    .menu-icon{
        width: 100%;
        padding-top: 20px;
        display: none;
        background-color: var(--light-bg-color);
        padding-bottom: 30px;
    }
    .toggle{
        display: flex;
    }
    #checkbox:checked ~ .menu-item{
        display: block;
    }
    #checkbox:checked ~ .menu-icon{
        display: flex;
        justify-content: center;
    }
    #checkbox:checked ~ .toggle .open{
       display: block; 
    }
    #checkbox:checked ~ .toggle .close{
        display:none;  
     }
     .footer-icon{
         display:flex;
         background: transparent;
     }
     .footer{
         flex-direction: column-reverse;
         padding: 10px 0px;
     }
     .footer-icon, .footer-title{
        flex:0 0 100%;
    }
    .footer-icon{
        justify-content: center;
        padding: 0px 0px;
    }
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 1399.98px) {
    .hero-header{
        margin-top: 7rem;
    }
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 1199.98px) {
    .header-title {
        font-size: 3rem;
        /* margin-top: 6rem; */
    }
    .header-img{
        object-position: center;
        min-height: 80vh;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .nav-bar{
        background-color: var(--light-bg-color);
    }
    .header-section::before {
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    .hero-header {
        flex-direction: column-reverse;
    }
    .half-box {
        width: 100%;
        text-align: center;
    }
    .header-content {
        padding: 0;
        /* margin-top: 5rem; */
    }
    .header-img{
        object-fit:cover;
        width: 100%;
        object-position: center;
        min-height: 150vh;
    }
    .about-content{
        text-align: left;
        margin-left:0px;
    }
    .service{
        grid-template-columns:50% 50%;
    }
    .service-section{
        padding: 40px 0px;

    }
    .service-title{
        font-size: 2.1rem;
        margin-top: 0px;
        line-height: 2.5rem;
    }
    .service-text{
        margin-bottom: 10px;
    }
    .freelance-content{
        padding: 40px 0px;
    }
    .freelance-title{
        font-size: 2.5rem;
        margin-top: 0px;  
    }
    .img-grid{
        grid-template-columns: 50% 50%;
    }
    .portfolio-sub-title{
        font-size: 2rem;
    }
    .blog-card-block{
        grid-template-columns:50% 50%;
    }
    .address-grid{
        grid-gap: 10px;
        padding: 15px 0px;
    }
}
/* // Large devices (desktops, less than 1200px) */
@media (max-width: 767.98px) {
    .header-title {
       font-size: 3rem;

    }
    .header-section::before {
        font-size: 30rem;
    }
    .header-img{
        object-fit:cover;
        width: 100%;
        object-position: center;
        min-height: 100vh;
    }
    .img-2{
        width: 200px;
    }
    .service{
        grid-template-columns:100%;
        grid-row-gap: 20px;
    }
    .testimonial-section{
        height: 700px;
    }
    .testimonial-title{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .testimonial-text{
        text-align: center;
        color: var(--light-text-color);
        margin-bottom: 40px;   
    }
    .contact-grid{
        grid-template-columns:100%;
    }
    .contact-title{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .address-grid{
        grid-template-columns: 100%;
    }
    .address-grid-item{
        margin-bottom: 30px;
    }
    .contact-section{
        padding: 40px 0px;
    }
}
/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 575.98px) {
    .header-title {
        font-size: 2rem;
        line-height: 3rem;
    }
    .img-2{
        width: 150px;
    }
    .about-title{
        font-size: 2rem;
    }
    .about-text{
        font-size: 1rem;
        line-height: 1.3rem;
    }
    .freelance-title{
        font-size: 1.5rem;
        margin-top: 0px;
        line-height: 2rem;
    }
    .freelance-btn{
        margin-top: 5px;
        font-size: .8rem;
    }
    .testimonial-section{
        height: 820px;
        padding: 0px 0px;
    }
    .portfolio-item{
        display: block;
        margin-bottom: 20px;
    }
    .img-grid{
        grid-template-columns: 100%;
    }
    .portfolio-sub-title{
        font-size: 2rem;
    }
    .blog-title{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .blog-text{
        font-size:1rem;
        line-height: 1rem;
        text-align:center;
    }
    .blog-card-block{
        grid-template-columns:100%;
    }
    .card{
        margin-bottom: 30px;
    }
}
/* // XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */